<div class="content pure-u-1">
    <div class="posts pure-g">
        <h1 class="pure-u-1 content-subhead">Recent Posts</h1>

        {% for post in site.posts %}
        <section class="post pure-u-1">
                <header class="post-header">
                    <h2 class="post-title pure-u-1">{{ post.title }}</h2>

                    <p class="post-meta pure-u-1">
                        {{ post.date | date_to_string }}
                        {% for category in post.categories %}
                        <a class="post-category post-category-js" href="http://purecss.io/layouts/blog/#">{{ category }}</a>
                        {% endfor %}
                    </p>
                </header>

                <div class="post-description pure-u-1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
        </section>
        {% endfor %}
    </div>
</div>