<div class="sidebar pure-u">
    <header class="header pure-u-1">
        <hgroup>
            <h1 class="brand-title">Lucky's Blog</h1>
            <h2 class="brand-tagline"><a target="_blank" href="http://purecss.io/">Based on Pure</a></h2>
        </hgroup>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="pure-button slideBtn" slideid="whoami" href="javascript:void(0)">Who am i</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button slideBtn" slideid="tags" href="javascript:void(0)">Tags</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="slide">
    </div>
    <div id="whoami">
        this is whoami this is whoami this is whoami
    </div>
    <div id="tags">
        this is tags this is tags this is tags
    </div>
</div>
<script type="text/javascript">
    KISSY.use(['event', 'anim', 'base', 'node'], function(S, Event, Anim){
        S.ready(function(S){
            function SlideMgr(config){
                SlideMgr.superclass.constructor.call(this, config)
                this.initialize.call(this)
            }
            S.augment(SlideMgr, Event)
            S.extend(SlideMgr, S.Base, {
                initialize: function(){
                    var self = this
                    self.set('el', S.one('.sidebar'))
                    self.set('block', S.one('.slide'))
                    self.set('currentBlock', null)
                    self.set('text', {
                        'whoami': self.get('el').one('#whoami').text(),
                        'tags': self.get('el').one('#tags').text()
                    })

                    self.on('.slideBtn', 'click', function(e){
                        var a = S.Node(e.currentTarget)
                        self.get('el').all('.hover').removeClass('hover')
                        a.addClass('hover')
                        self.doSlide(a.attr('slideid'))
                    })
                },
                doSlide: function(id){
                    var self = this
                    var node = self.get('el').one('#' + id)
                    var block = self.get('block')
                    var currentBlock = self.get('currentBlock')

                    if(node){
                        self.set('currentBlock', 'id')
                        
                        if(!currentBlock){
                            block.text(self.get('text')[id])
                            Anim(block, {marginRight: '0px'}, 0.5, 'easeOut').run()
                        }
                        else{
                            Anim(block, {marginRight: '-80%'}, 0.2, 'easeOut', function(){
                                block.text(self.get('text')[id])
                                Anim(block, {marginRight: '0px'}, 0.5, 'easeOut').run()
                            }).run() 
                        }
                           
                    }
                }
            })

            new SlideMgr()
        }) 
    })
</script>
