<div class="sidebar pure-u">
    <header class="header pure-u-1">
        <hgroup>
            <h1 class="brand-title">Lucky || 雪卒</h1>
            <!--<h2 class="brand-tagline"><a target="_blank" href="http://purecss.io/">Based on Pure</a></h2>-->
        </hgroup>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="pure-button slideBtn" slideid="whoami" href="javascript:void(0)">Who am i</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button slideBtn" slideid="tags" href="javascript:void(0)">Tags</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="slide">
    </div>
    <div id="whoami">
        LUCKY，以前的外号。<br />
        雪卒，现在的花名。

    </div>
    <div id="tags">
        {% for tag in page.pagetags %}
            <a>{{ tag }}</a>
            {% cycle '', '', '', '<br />' %}
        {% endfor %} 
    </div>
</div>
<script type="text/javascript">
    KISSY.use(['event', 'anim', 'base', 'node'], function(S, Event, Anim){
        S.ready(function(S){
            //绑定tag点击事件
            Event.delegate('.slide', 'click', 'a', function(e){
                var tag = S.trim(e.currentTarget.innerHTML)
                var fr = S.one('#rightpart')
                if(fr){
                    fr.attr('src', 'commonTag.html?tag=' + tag)
                }
            })

            //初始化滑动
            function SlideMgr(config){
                SlideMgr.superclass.constructor.call(this, config)
                this._init.call(this)
            }
            S.augment(SlideMgr, Event)
            S.extend(SlideMgr, S.Base, {
                doSlide: function(id){
                    var self = this
                    var node = self.get('el').one('#' + id)
                    var block = self.get('block')
                    var currentBlock = self.get('currentBlock')

                    if(node){
                        self.set('currentBlock', id)
                        
                        if(!currentBlock){
                            block.html(self.get('text')[id])

                            self._adjustSize(block)

                            S.later(function(){
                                Anim(block, {marginRight: '0px'}, 0.5, 'easeOut').run()
                            },100)
                            
                        }
                        else{
                            //退出时尽管退到最大的width，后续调整
                            Anim(block, {marginRight: '-' + self.get('maxWidth')}, 0.2, 'easeOut', function(){
                                block.html(self.get('text')[id])

                                self._adjustSize(block)

                                S.later(function(){
                                    Anim(block, {marginRight: '0px'}, 0.5, 'easeOut').run()
                                },100)                       
                            }).run() 
                        }
                           
                    }
                },
                
            })
            S.augment(SlideMgr, {
                _init: function(){
                    var self = this
                    self.set('el', S.one('.sidebar'))
                    self.set('block', S.one('.slide'))
                    self.set('maxWidth', self.get('block').width())
                    self.set('currentBlock', null)
                    self.set('text', {
                        'whoami': self.get('el').one('#whoami').html(),
                        'tags': self.get('el').one('#tags').html()
                    })

                    self.on('.slideBtn', 'click', function(e){
                        var a = S.Node(e.currentTarget)
                        if(a.attr('slideid') === self.get('currentBlock'))
                            return

                        self.get('el').all('.hover').removeClass('hover')
                        a.addClass('hover')
                        self.doSlide(a.attr('slideid'))
                    })
                },
                _adjustSize: function(block){
                    var self = this        
                    var maxWidth = self.get('maxWidth')
                    var cssWidth

                    //先设置成auto，取默认宽度
                    block.css('width', 'auto')

                    //加一点，避免过早折行
                    var width = block.width() + 40
                    cssWidth = width > maxWidth ? maxWidth + 'px' : width + 'px'

                    block.css({
                        'width': cssWidth,
                        'marginRight': '-' + cssWidth
                    })
                }
            })

            new SlideMgr()
        }) 
    })
</script>
