<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css" />
<link rel="stylesheet" type="text/css" href="../../../assets/css/font.css" />
<link rel="stylesheet" type="text/css" href="../../../assets/css/blog.css" />
<link rel="stylesheet" type="text/css" href="../../../assets/css/syntax.css" />
<style type="text/css">
  body{
  	padding: 2em 3em 0;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
</style>
<script type="text/javascript">
	function goBack () {
		var loc = window.parent.location
		if(loc.hash.indexOf('#') != -1){
			loc.href = loc.href.replace(/#.*$/gi, '')
		}
		else{
			history.go(-1)
		}
	}
</script>
<h1 class="pure-u-1 content-subhead" onclick="javascript:goBack()"><a class="readAll pure-button">Back</a></h1>
<h2 class="post-title pure-u-1" style="text-align:center;margin-bottom:1em;">{{ page.title }}</h2>

