<!doctype html>
<html>
<head>
  <title>articles</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css"></head>
  <link rel="stylesheet" type="text/css" href="./assets/css/font.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/blog.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/syntax.css">
  <script type="text/javascript" src="http://a.tbcdn.cn/s/kissy/1.3.0/seed-min.js"></script>
<body style="display:none">
  <div class="content pure-u-1">
    <div class="posts pure-g">
      <h1 class="pure-u-1 content-subhead">Recent Posts</h1>
      {% for post in site.posts limit:4 offset:0 %}
      <section class="post pure-u-1">
        <header class="post-header">
          <h2 class="post-title pure-u-1">{{ post.title }}</h2>

          <p class="post-meta pure-u-1">
            {{ post.date | date_to_string }}
            {% for tag in post.pagetags %}
              <a class="post-category post-category-{{tag}}" href="commonTag.html?tag={{tag}}">{{ tag }}</a>
            {% endfor %}
          </p>
        </header>

        <div class="post-description pure-u-1">
            {% if post.content contains '<!--more-->' %}
              {% assign a = post.content | split:'<!--more-->' %}
              {% for item in a limit:1 offset:1 %}
                {{ item }}&nbsp;...<br />
              {% endfor%}
              <a href="{{ post.url }}" class="readAll pure-button">Read it</a> 
            {% else %}
              <a href="{{ post.url }}" class="readAll pure-button">Read it</a>
            {% endif %}
        </div>
      </section>
      {% endfor %}
    </div>
  </div>
  <script type="text/javascript">
    KISSY.use(['node', 'sizzle'], function(S){
      S.ready(function(){
        /*S.all('a.readAll').on('click', function(e){
          var a = new S.Node(e.currentTarget)
          window.parent.location.hash = ('#' + a.attr('href'))
        })*/

        var body = S.one('body')
        var hash = window.parent.location.hash
        var page
        var jump
        if(hash.indexOf('#') != -1){
          page = hash.substr(1, hash.length - 1)
          if(!!page){
            jump = S.one("[href='" + page + "']")
            if(!!jump){
              jump.fire('click')
            }
            else{
              body.show()
            }
          }
        }
        else{
          body.show()
        }
      })
    })
  </script>
</body>
</html>